body{
    background-color: white;
    background-image: linear-gradient(0deg, white 0%, white 100%);

}
#navegacao{
    padding: 15px 10px;
    background: rgba(15,13,26,0.7);
}

#drop-menu{
    background: rgba(15,13,26,1);
}

#drop-menu a:hover{
    background:rgba(15,13,26,1);
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}

#navegacao ul li a{
    color: white;
    font-size: 1em;
}

#logo{
    font-size: 1.5em;
    color: white;
}

#navegacao ul li a:hover{
    color: #ebbdef;
}

#logo a:hover{
    color:white;
}

#destaque{
    padding-top: 75px;
    background: #161031;
}


.livro{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.livro h4{
    color: #e5e5e5;
}

.livro p{
    color: #e5e5e5; 
}

.livro img{
    width: 350px;
}
@media (max-width:768px){
    .livro img{
        width: 200px;
    }
}


#categorias{
    background: rgb(248, 245, 245);
    padding: 15px;

}

#categorias img{
    width: 150px;
    padding-bottom: 5px;
}

#categorias h4{
    color: black;
    font-weight: bold;
}

#categorias a{
    color: black;
}

#categorias a:hover{
    color: black;
}

.livro-secao{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgb(248, 245, 245);
}

.livro-secao a{
    color: black;
}

.livro-secao a:hover{
    color:black;
}

div:hover.livro-secao{
    background: rgb(196, 193, 193);
}