body{
    background-color: #1c1c1d;
    background-image: linear-gradient(0deg, #1c1c1d 0%, #1c1c1d 100%);

}
#navegacao{
    padding: 15px 10px;
    background: rgba(15,13,26,0.7);
}

#drop-menu{
    background: rgba(15,13,26,1);
}

#drop-menu a:hover{
    background:rgba(15,13,26,1);
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}

#navegacao ul li a{
    color: white;
    font-size: 1em;
}

#logo{
    font-size: 1.5em;
    color: white;
}

#navegacao ul li a:hover{
    color: #ebbdef;
}

#logo a:hover{
    color:white;
}

#destaque{
    padding-top: 75px;
    background: #1c1c1d;
}


.livro{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.livro h4{
    color: #e5e5e5;
}

.livro p{
    color: #e5e5e5; 
}

.livro img{
    width: 350px;
}
@media (max-width:768px){
    .livro img{
        width: 200px;
    }
}


#categorias{
    background: #1c1c1d;
    padding: 15px;

}

#categorias img{
    width: 150px;
    padding-bottom: 5px;
}

#categorias h4{
    color: white;
    font-weight: bold;
}

#categorias a{
    color: white;
}

#categorias a:hover{
    color: white;
}

.livro-secao{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(83, 80, 80);
}

.livro-secao a{
    color: white;
}

.livro-secao a:hover{
    color:white;
}

hr{
    background: rgb(83, 80, 80);
}

#mensagem{
    background-color: rgba(15,13,26,0.7);
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

#livro-detalhes img{
    width: 300px;
}

#livro-detalhes{
    color: #e5e5e5;
}

#livro-detalhes h4{
    font-style: italic;
}

#form{
    padding: 30px;
    background: rgba(15,13,26,0.7);
    border-radius: 20px;
}

#form h2{
    text-align: center;
}

#form input, #form textarea, #form select, #form label{
    border: 1px solid #17a2b8;
    background: #1c1c1d;
    color: white;
}

#form label{
    padding: 10px;
}
#form label:hover{
    cursor: pointer;
    background:#17a2b8 ;
}
input[type='file']{
    display: none;
}

#chamado{
    border-radius: 10px;
    border: 1px solid rgb(83, 80, 80);
    color: white;
    padding: 20px;
    margin-left:30px;
    margin-right: 30px;
    margin-top: 10px;
    text-align: start;
}

#chamado button{
    width: 100%;
}

#chamado h5{
    color:#ebbdef;
}

#chamado-detalhes{
    border-radius: 10px;
    border: 1px solid rgb(83, 80, 80);
    color: white;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: start;
}

#chamado-detalhes h5{
    color:#ebbdef;
}
